header {
    padding: 8px;
    background-color: #3a4d63;
    font-size: 36px;
    text-align: center;
    color: #e0f7fa;
}

body {
    background-color: #1c1f2b;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.body-div {
    background-color: #3a4d63;
    width: 80%;
    max-width: 800px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 12px;
    color: #e0f7fa;
}

.presentacion {
    margin-left: 47px;
    background-color: #8daabf;
    padding: 20px;
    border-radius: 12px;
    color: #1c1f2b;
    margin-top: 20px;
    width: 80%;
    max-width: 800px;
    text-align: center;
    font-size: 30px;
}

.botones {
    font-size: 25px;
    height: 60px;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
}

.btn1, .btn2 {
    padding-top: 15px;
    background-color: #e0f7fa;
    border: #3a4d63;
    border-radius: 10px;
    text-decoration: none;
    color: #1c1f2b;
    cursor: pointer;
}

.btn1:hover, .btn2:hover{
    background-color: #3a4d63;
    color: #e0f7fa;
    transition: 0.3s;
}

.links {
    margin-left: 47px;
    background-color: #8daabf;
    padding: 20px;
    border-radius: 12px;
    color: #1c1f2b;
    margin-top: 20px;
    width: 80%;
    max-width: 800px;
    text-align: center;
}

.div-links {
    font-size: 30px;
}

 .contactoig, .contactofb, .contactox{
    background-color: #e0f7fa;
    border: #3a4d63;
    border-radius: 10px;
    text-decoration: none;
    color: #1c1f2b;
}
 

.contactoig:hover, .contactofb:hover, .contactox:hover{
    background-color: #3a4d63;
    color: #e0f7fa;
    transition: 0.3s;
}