header {
    padding: 8px;
    background-color: #3a4d63;
    font-size: 36px;
    text-align: center;
    color: #e0f7fa;
    margin-right: 120px;
}

.boton-volver{
    background-color: #e0f7fa;
    border: #3a4d63;
    border-radius: 10px;
    text-decoration: none;
    color: #1c1f2b;
}

body {
    background-color: #1c1f2b;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-general {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.body-div {
    background-color: #3a4d63;
    width: 80%;
    max-width: 800px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 12px;
    color: #e0f7fa;
}

.gustos-div {
    margin-left: 47px;
    background-color: #8daabf;
    padding: 20px;
    border-radius: 12px;
    color: #1c1f2b;
    margin-top: 20px;
    width: 80%;
    max-width: 800px;
    text-align: center;
}
